<!-- RIBBON -->
<div id="ribbon" style="background-color:#333333">

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@ViewBag.Title</li>
    </ol>

</div>
<!-- END RIBBON -->
