@model DKUPPU.ViewModels.MutationApplicant
@{
    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" aria-hidden="true" data-dismiss="modal" type="button"> <i class="fa fa-remove"></i> </button>
            <h4>Document Preview</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <img class="col-xs-12" src="@Url.Action("PreviewDocument", "MutationApplicant", new { id_trx_mutation = Model.id_trx_mutation, doc_type = ViewBag.doc_type })" />
            </div>
        </div>
    </div>
</div>