@{
    ViewBag.Title = "Need Approved";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<form class="smart-form client-form" role="form">
    <header>Wait For Approval</header>
    <fieldset>
        <section>
            <p class="text-danger">
                Your account does not approved by admin, please wait for the moment.
            </p>
        </section>
    </fieldset>
</form>


