@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form class="smart-form client-form" role="form">
    <header>Forgot Password Confirmation</header>
    <fieldset>
        <section>
            <p class="text-danger">
                Please check your email to reset your password.
            </p>
        </section>
    </fieldset>
    <footer>
        <a href="@Url.Action("Login","Account")" class="btn btn-success">
            Back To Login
        </a>
    </footer>
</form>

