@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form class="smart-form client-form" role="form">
    <header>Forgot Password Confirmation</header>
    <fieldset>
        <section>
            <p class="text-danger">
                Your password has been reset. Please Login again
            </p>
        </section>
    </fieldset>
    <footer>
        <a href="@Url.Action("Login", "Account", routeValues: null)" class="btn btn-success">
            Back To Login
        </a>
    </footer>
</form>