@model IEnumerable<DKUPPU.ViewModels.TrxLicAircraftTypeRatingViewModel>
@{
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ratting</th>
                <th>Date Of Issue</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody id="TrxLicAircraftTypeRatingViewModel">
            @{int j = 0;}
            @foreach (var item in Model)
            {
                <tr id="TrxLicAircraftTypeRatingViewModel_@j">
                    <td>
                    @Html.DropDownList("TrxLicAircraftTypeRatingViewModel[" + j.ToString() + "].id_type_rating", (IEnumerable<SelectListItem>)ViewBag.ratingdrop, "Select Type Rating", new { @class = "form-control id_type_rating", id = "TrxLicAircraftTypeRatingViewModel_" + j.ToString() + "__id_type_rating" })
                    <input type="hidden" name="TrxLicAircraftTypeRatingViewModel[@j].type_rating_name" id="TrxLicAircraftTypeRatingViewModel_@j.ToString()__type_rating_name" required="required"></td>
                    <td><input type="text" class="form-control SKILL09 date-picker" name="TrxLicAircraftTypeRatingViewModel[@j].issued_date" id="TrxLicAircraftTypeRatingViewModel_@j.ToString()__issued_date" required="required"></td>
                </tr>
                j++;
            }
        </tbody>

    </table>
</div>
<script>
    $(document).ready(function () {
        $('.date-picker').datepicker({
            //options
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
            //...
        });
        var VSKILL01 = $('#val-SKILL09').attr('data-date');
        $('.SKILL09').datepicker({
            //options
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            minDate: VSKILL01,
            //...
        });
    });
</script>


