@model IEnumerable<DKUPPU.ViewModels.TrxLicDispatchResourceManagementViewModel>
@{
    Layout = null;
}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date Of Recurrent</th>
                <th>Valid Until</th>
            </tr>
        </thead>
        <tbody id="TrxLicDispatchResourceManagementViewModel">
            @{int j = 0;}
            @foreach (var item in Model)
            {
                <tr id="TrxLicDispatchResourceManagementViewModel_@j">
                    <td><input type="text" class="form-control date-picker" name="TrxLicDispatchResourceManagementViewModel[@j].recurrent_date" id="TrxLicDispatchResourceManagementViewModel_@j.ToString()__recurrent_date"></td>
                    <td><input type="text" class="form-control date-picker" name="TrxLicDispatchResourceManagementViewModel[@j].expired_date" id="TrxLicDispatchResourceManagementViewModel_@j.ToString()__expired_date"></td>
                </tr>
                j++;
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('.date-picker').datepicker({
            //options
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
            //...
        });
    });
</script>




