@model DKUPPU.ViewModels.TrxLicMedicalCertificateViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label text-left" for="sertificate_no">Medical Class *</label>
                <div class="col-md-5">
                    <input name="TrxLicMedicalCertificateViewModel.med_certi_no" id="TrxLicMedicalCertificateViewModel_med_certi_no" class="form-control required-value" placeholder="Input Number" value="@Html.DisplayFor(m => m.med_certi_no)" required="required" type="hidden"/>
                    <input name="TrxLicMedicalCertificateViewModel.med_certi_name" id="TrxLicMedicalCertificateViewModel_med_certi_name" class="form-control" placeholder="Input" value="@Html.DisplayFor(m => m.med_certi_name)" readonly="readonly" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label text-left" for="sertificate_no">The period of validity *</label>
                <div class="col-md-5">
                    <div class="col-xs-6 no-padding">
                        <input name="TrxLicMedicalCertificateViewModel.from_date" id="TrxLicMedicalCertificateViewModel_from_date" class="form-control SKILL01 required-value" placeholder="Input From Date" value="@Html.DisplayFor(m => m.from_date)" required />
                    </div>
                    <div class="col-xs-6 no-padding">
                        <input name="TrxLicMedicalCertificateViewModel.until_date" id="TrxLicMedicalCertificateViewModel_until_date" class="form-control date-picker required-value" placeholder="Input Until Date" value="@Html.DisplayFor(m => m.until_date)" required />
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
</div>

<script>
    $(document).ready(function () {
        $('.date-picker').datepicker({
            //options
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            //...
        });
        var VSKILL01 = $('#val-SKILL01').attr('data-date');
        $('.SKILL01').datepicker({
            //options
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            minDate: VSKILL01,
            //...
        });
    });
</script>