@model List<DKUPPU.ViewModels.TrxLicAircraftCategoryRatingViewModel>
@{
    Layout = null;
}
<div class="row">
    <div class="form-horizontal">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Class Ratting</th>
                    <th>Date Of Issue</th>
                    @*<th>Authorize</th>*@
                </tr>
            </thead>
            <tbody id="TrxLicAircraftCategoryRatingViewModel">
                @{
                    int j = 0;
                    string vreadonly = "";
                    string vrequered = "";
                }
                @foreach (DKUPPU.ViewModels.TrxLicAircraftCategoryRatingViewModel item in Model)
                {
                    vreadonly = "readonly='readonly'";
                    vrequered = "";
                    if (item.is_history == false && ViewBag.activity_id == "ACT01")
                    {
                        vreadonly = "";
                        vrequered = "required-value";
                    }
                    <tr>
                        <td>
                            <input type="hidden" name="TrxLicAircraftCategoryRatingViewModel[@j].id_trx_category_rating" id="TrxLicAircraftCategoryRatingViewModel_@j.ToString()__id_trx_category_rating" value="@Html.DisplayFor(m => m[j].id_trx_category_rating)" readonly="readonly">
                            <input type="text" class="form-control" name="TrxLicAircraftCategoryRatingViewModel[@j].id_class_rating_value" id="TrxLicAircraftCategoryRatingViewModel_@j.ToString()__id_class_rating_value" value="@Html.DisplayFor(m => m[j].id_class_rating_value)" readonly="readonly">
                        </td>
                        <td>
                            <input type="text" class="form-control @vrequered date-picker" name="TrxLicAircraftCategoryRatingViewModel[@j].issued_date" id="TrxLicAircraftCategoryRatingViewModel_@j.ToString()__issued_date" value="@Html.DisplayFor(m => m[j].issued_date)">
                        </td>
                        @*<td>
                        <input type="text" class="form-control" name="TrxLicAircraftCategoryRatingViewModel[@j].authorize_ins_signature" id="TrxLicAircraftCategoryRatingViewModel_@j.ToString()__authorize_ins_signature" value="@Html.DisplayFor(m => m[j].authorize_ins_signature)" readonly="readonly">
                    </td>*@
                    </tr>
                    j++;
                }
            </tbody>
        </table>
    </div>
</div>
