@model DKUPPU.ViewModels.TrxLicToeflCertificateViewModel
@{
    Layout = null;

    string toeflEditableTag = ViewBag.IsToeflEditable == null ? "readonly='readonly'" : (ViewBag.IsToeflEditable ? string.Empty : "readonly='readonly'");
}
<div class="row">
    <div class="col-xs-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label text-left" for="sertificate_no">Certificate Number</label>
                <div class="col-md-5">
                    <input name="TrxLicToeflCertificateViewModel.toefl_certi_no" id="TrxLicToeflCertificateViewModel_toefl_certi_no" class="form-control" readonly="readonly" value="@Html.DisplayFor(a => a.toefl_certi_no)" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label text-left" for="sertificate_no">TOEIC Score</label>
                <div class="col-md-5">
                    <input name="TrxLicToeflCertificateViewModel.toefl_test_score" id="TrxLicToeflCertificateViewModel_toefl_test_score" class="form-control required-value" placeholder="Input Toeic Score" maxlength="3" value="@Html.DisplayFor(a => a.toefl_test_score)" @toeflEditableTag />
                </div>
            </div>
        </div>
    </div>
    
</div>