@model DKUPPU.ViewModels.SOPPositionViewModel
<div class="jarviswidget jarviswidget-sortable" data-widget-editbutton="false" data-widget-colorbutton="false" role="widget">
    <header>
        <span class="widget-icon"><i class="fa fa-eye"></i></span>
        <h2>Add SOP </h2>
        <span class="jarviswidget-loader">
            <i class="fa fa-refresh fa-spin"></i>
        </span>
    </header>
    <div role="content">
        <div class="jarviswidget-editbox"> </div>
        <div class="widget-body">

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model=>model.id_sop)
                <fieldset>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </fieldset>

                @Html.Partial("_FormSOP",Model)
            }
        </div>
    </div>
</div>